WebService_WithTryItPage/TryIt_All_Services/Connected Services/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50265/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50265/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Stemming_InputMessage">
    <wsdl:part name="parameters" element="tns:Stemming" />
  </wsdl:message>
  <wsdl:message name="IService1_Stemming_OutputMessage">
    <wsdl:part name="parameters" element="tns:StemmingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_String_Sort_InputMessage">
    <wsdl:part name="parameters" element="tns:String_Sort" />
  </wsdl:message>
  <wsdl:message name="IService1_String_Sort_OutputMessage">
    <wsdl:part name="parameters" element="tns:String_SortResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:CharacterCounter" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CharacterCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Password_InputMessage">
    <wsdl:part name="parameters" element="tns:Password" />
  </wsdl:message>
  <wsdl:message name="IService1_Password_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Upper_Lower_DoubleSpace_InputMessage">
    <wsdl:part name="parameters" element="tns:Upper_Lower_DoubleSpace" />
  </wsdl:message>
  <wsdl:message name="IService1_Upper_Lower_DoubleSpace_OutputMessage">
    <wsdl:part name="parameters" element="tns:Upper_Lower_DoubleSpaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stemming">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Stemming" message="tns:IService1_Stemming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StemmingResponse" message="tns:IService1_Stemming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="String_Sort">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/String_Sort" message="tns:IService1_String_Sort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/String_SortResponse" message="tns:IService1_String_Sort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharacterCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CharacterCounter" message="tns:IService1_CharacterCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CharacterCounterResponse" message="tns:IService1_CharacterCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Password">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Password" message="tns:IService1_Password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PasswordResponse" message="tns:IService1_Password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upper_Lower_DoubleSpace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Upper_Lower_DoubleSpace" message="tns:IService1_Upper_Lower_DoubleSpace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Upper_Lower_DoubleSpaceResponse" message="tns:IService1_Upper_Lower_DoubleSpace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stemming">
      <soap:operation soapAction="http://tempuri.org/IService1/Stemming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="String_Sort">
      <soap:operation soapAction="http://tempuri.org/IService1/String_Sort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharacterCounter">
      <soap:operation soapAction="http://tempuri.org/IService1/CharacterCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Password">
      <soap:operation soapAction="http://tempuri.org/IService1/Password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upper_Lower_DoubleSpace">
      <soap:operation soapAction="http://tempuri.org/IService1/Upper_Lower_DoubleSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50265/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>